oem-framework>=1.1.0
oem-core>=1.1.0
oem-database-updater>=1.1.0

appdirs>=1.4.0
msgpack-python>=0.4.7
six>=1.10.0

-e git://github.com/fuzeman/anidb.py.git#egg=anidb.py
-e git://github.com/fuzeman/bencode.py.git#egg=bencode.py
-e git://github.com/fuzeman/tmdbsimple.git#egg=tmdbsimple
-e git://github.com/fuzeman/tvdb_api.git#egg=tvdb_api